.navbar {
    width: 100%;
    height: 3.5rem;
    font-size: 1.1rem;
    background: linear-gradient(135deg, #dd0428, #c50320);
    box-shadow: 0 2px 8px #0003;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar a {
    height: 100%;
    color: #fffd;
    text-decoration: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    padding: 1.1rem 1.1rem 1rem;
    box-sizing: border-box;
    transition: color 0.15s, background-color 0.15s;
}
.navbar a:hover {
    color: #ffff;
    background-color: #ffffff20;
}
.navbar-logo {
    padding: 0.6rem !important;
    padding-right: 1rem !important;
}
.navbar-logo img {
    filter: grayscale(1) contrast(10) invert(1);
}
.navbar-logo span {
    padding-top: 0.1rem;
    padding-left: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.02em;
}
.navbar-right {
    margin-left: auto;
}
