.search {
    width: 30rem;
    height: calc(100% - 3.5rem);
    padding: 1rem;
    background-color: #fff;
    box-shadow: 2px 0 8px #0001;
    position: fixed;
    top: 3.5rem; left: 0;
    box-sizing: border-box;
    overflow-y: auto;
}
.search > .common-header {
    margin-bottom: 0.5rem;
}
.search-fields {
    text-align: center;
}
.search-table {
    width: 100%;
    margin: 0.5rem 0 1rem;
    table-layout: fixed;
    border-collapse: collapse;
}
.search-table tr:first-child td {
    border-top: 1px solid #e0e0e0;
}
.search-table td {
    padding: 0.5rem 0;
    border-bottom: 1px solid #e0e0e0;
}
.search-table td:first-child {
    width: 46%;
}
.search-table td:last-child {
    width: auto;
}
.search-table button {
    margin-right: 0.5rem;
}
.search-button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem !important;
    font-size: 0.95rem !important;
}

.results {
    width: calc(100% - 30rem);
    height: calc(100% - 3.5rem);
    padding: 1rem;
    position: fixed;
    top: 3.5rem; right: 0;
    box-sizing: border-box;
    overflow-y: auto;
}
.results-top {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}
.results-count {
    margin-right: auto;
}
.results-total {
    font-weight: bold;
    color: #dd0428;
}
.results-navigate {
    margin-left: 1.2rem;
}
.results-per-page {
    font-size: 0.7rem;
    color: #888;
}
.results-input-page {
    width: 2rem !important;
    margin-left: 0.5rem;
}
.results-compact {
    position: absolute;
    top: 2rem; right: 0;
}
.results-bottom {
    text-align: right;
    margin-top: 0.5rem;
}

.entry {
    padding: 0.5rem 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    transition: background-color 0.15s;
}
.entry:hover {
    background-color: #f8f9fc;
}

.entry:not([compact]) {
    height: 6rem;
}
.entry:not([compact]) .entry-logo {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
    flex: 0 0 8rem;
    cursor: pointer;
    border-radius: 4px;
}
.entry:not([compact]) .entry-text {
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
}
.entry:not([compact]) .entry-title {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
.entry:not([compact]) .entry-developer {
    font-size: 0.7rem;
    margin-left: 0.1rem;
    color: #666;
}
.entry:not([compact]) .entry-type,
.entry:not([compact]) .entry-tags {
    font-size: 0.9rem;
}
.entry:not([compact]) .entry-tags {
    color: #777;
}
.entry:not([compact]) .entry-description {
    margin-top: 0.5rem;
    white-space: normal;
    color: #444;
}
.entry:not([compact]) .entry-description[empty] {
    color: #aaa;
    font-style: italic;
}

.entry[compact] {
    height: 1rem;
    overflow: hidden;
    align-items: center;
}
.entry[compact] :not(.entry-platform, .entry-library) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.entry[compact] :not(.entry-title) {
    font-size: 0.7rem;
}
.entry[compact] :not(.entry-description) {
    flex-shrink: 0;
}
.entry[compact] .entry-platform,
.entry[compact] .entry-library {
    width: 1.2rem;
    height: 1.2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 0.2rem;
}
.entry[compact] .entry-title {
    font-size: 0.9rem;
    padding: 0 0.5rem 0 0.2rem;
    max-width: calc(40% - 2.8rem);
}
.entry[compact] .entry-developer {
    padding-right: 0.5rem;
    max-width: calc(25% - 2.8rem);
    color: #666;
}
.entry[compact] .entry-description {
    color: #999;
    flex-grow: 1;
}
.entry[compact] .entry-tags {
    padding-left: 0.5rem;
    max-width: calc(35% - 2.8rem);
    color: #777;
}

.viewer {
    flex-direction: column;
}
.viewer-header {
    display: flex;
}
.viewer-header + .common-subheader {
    margin-top: 0;
}
.viewer-back, .viewer-play {
    margin-bottom: 1rem;
}
.viewer-play {
    margin-left: auto;
}
.viewer-images {
    display: flex;
    gap: 0.5rem;
}
.viewer-logo, .viewer-screenshot {
    height: 15rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}
.viewer-logo {
    width: 100%;
}
.viewer-screenshot {
    width: 150%;
}
.viewer-logo img, .viewer-screenshot img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}
.viewer .common-table :is(td, th):first-child {
    width: 30%;
    font-weight: bold;
}
.viewer .common-table :is(td, th):last-child {
    width: 70%;
}
.viewer-add-apps table:not(:first-child) {
    margin-top: 0.7rem;
}

.download-center {
    max-width: 70rem;
    margin: 0 auto;
}
.download-table :is(td, th) {
    text-align: center;
}
.download-table :is(td, th):nth-child(1) {
    width: 40%;
}
.download-table :is(td, th):is(:nth-child(2), :nth-child(4)) {
    width: 20%;
}
.download-table :is(td, th):nth-child(3) {
    width: 100%;
}
